.icon-wrapper {
    display: flex;
    align-items: center;
}

.icon-wrapper span {
    font-size: 1.3em;
}

.my-icons {
    margin-right: 30px;
    font-size: 5em;
    color: #fff;
    background: #4acaa8;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    padding-top: .2em;
    border-radius: 50%;
}

.resume {
    font-weight: bold;
    color: #4acaa8;
}

.resume:hover {
    transition: .3s;
    opacity: .6;
}

img[alt="jlee-logo"] {
    height: 1.5em;
    width: 1.5em;
    margin: 4px 0 0 5px;
}

.name-logo {
    display: flex;
    align-items: center;
}

.company-time {
    display: flex;
    justify-content: space-between;
}

.company-time > p {
    font-style: italic;
    margin: 0 0 1em 0;
}